.octo-autocomplete {
  .octo-autocomplete__dropdown {
    background-color: var(--octo-inverted-500);
    border-radius: var(--octo-radius-default);
    border: var(--octo-border-black);
    box-shadow: var(--octo-shadow-black);
    left: 0 !important;
    margin-top: 7px;
    padding: 0.5rem;
    position: absolute;
    right: 0 !important;
    z-index: 50;
  }
  .octo-autocomplete__search {
    background-color: var(--octo-inverted-500);
    border-radius: var(--octo-radius-default);
    box-shadow: var(--octo-shadow-black);
    color: var(--octo-text-default);
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    width: 100%;

    &:focus {
      border: var(--octo-border-primary);
      outline: none;
    }
  }
  .octo-autocomplete__options {
    -webkit-overflow-scrolling: touch;
    list-style: none;
    max-height: 14rem;
    overflow-y: auto;
    padding: 0;
    position: relative;
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;

    /* Hide scrollbar */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .octo-autocomplete__option {
    border-radius: var(--octo-radius-default);
    color: var(--octo-text-default);
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    text-align: left;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;

    &:hover {
      background-color: var(--octo-muted-300);
      text-decoration: none !important;
    }

    &.is-hovered,
    &.is-hovered:hover {
      background-color: var(--octo-primary-500);
      color: var(--octo-text-inverted);
    }

    &:focus {
      outline: none;
    }
  }

  .octo-autocomplete__empty {
    color: var(--octo-text-default);
    padding: 0.5rem 0.75rem;
  }
}
