.octo-autocomplete {
  .octo-autocomplete__dropdown {
    position: absolute;
    right: 0 !important;
    left: 0 !important;
    background-color: white;
    border: var(--octo-border-black);
    padding: 0.5rem;
    border-radius: var(--octo-radius-default);
    box-shadow: var(--octo-shadow-black);
    z-index: 50;
    margin-top: 7px;
  }
  .octo-autocomplete__search {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: white;
    color: black;
    border-radius: var(--octo-radius-default);
    box-shadow: var(--octo-shadow-black);

    margin-bottom: 0.5rem;
    &:focus {
      border: var(--octo-border-primary);
      outline: none;
    }
  }
  .octo-autocomplete__options {
    list-style: none;
    padding: 0;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    /* Hide scrollbar */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;

    max-height: 14rem;
  }
  .octo-autocomplete__option {
    display: block;
    padding: 0.5rem 0.75rem;
    color: var(--octo-text-default);
    cursor: pointer;
    border-radius: var(--octo-radius-default);
    user-select: none;
    width: 100%;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: none !important;
      background-color: var(--octo-muted-300);
    }
    
    &.is-hovered,
    &.is-hovered:hover {
      background-color: var(--octo-primary-500);
      color: var(--octo-text-inverted);
    }

    &:focus {
      outline: none;
    }
  }

  .octo-autocomplete__empty {
    padding: 0.5rem 0.75rem;
    color: var(--octo-text-default);
  }
}
