.octo-box {
  background-color: var(--octo-inverted-500);
  border-radius: var(--octo-radius-large);
  box-shadow: var(--octo-shadow-modal);
  padding: 2.5rem;
  &.is-expanded {
    width: 100vw;
  }
}