.octo-box {
  background-color: var(--octo-inverted);
  border-radius: var(--octo-radius-large);
  box-shadow: var(--octo-shadow-modal);
  padding: 2.5rem;
  &.is-expanded {
    width: 100vw;
  }

  &.is-muted {
    background-color: var(--octo-muted-100);
  }
}

.octo-modal__close-btn {
  border: 1px solid var(--octo-muted-500);
  border-radius: 999px;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
