.octo-button {
  align-items: center;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;

  .is-icon {
    margin-right: 0.875rem;
  }

  &.is-sm {
    height: 1.75rem;
    width: 1.75rem;
  }

  &.is-md {
    height: 2.375rem;
    width: 2.375rem;
  }

  &.is-lg {
    height: 3.125rem;
    width: 3.125rem;
  }

  &.has-content {
    min-width: 200px;
    padding: 0 1.25rem;
    width: auto;

    &.is-squared {
      border-radius: 10px;
      min-width: 0;
      padding: 0 0.875rem;
      width: auto;
    }
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-default,
  &.is-dashed {
    background: var(--octo-inverted-500);
    border: var(--octo-border-black);
    box-shadow: var(--octo-shadow-black);
    color: var(--octo-text-default);
    .octo-loader__bar {
      background: black;
    }
  }

  &.is-dashed {
    border: var(--octo-border-muted);
    color: var(--octo-muted-500);
    border-style: dashed !important;
  }

  &.is-primary {
    border: none;
    color: var(--octo-inverted-500);
    background: var(--octo-primary-500);
    box-shadow: var(--octo-shadow-black);
    .octo-loader__bar {
      background: var(--octo-inverted-500);
    }
  }

  &.is-link {
  }
  &.is-text {
  }
  &.is-danger {
    border: none;
    color: var(--octo-inverted-500);
    background: var(--octo-secondary-500);
    box-shadow: var(--octo-shadow-black);
    .octo-loader__bar {
      background: var(--octo-inverted-500);
    }

    &.is-inverted {
      color: var(--octo-secondary-500);
      background: var(--octo-inverted-500);
      border: var(--octo-border-danger);

      .octo-loader__bar {
        background: var(--octo-secondary-500);
      }
    }
  }

  &.is-outlined {
  }

  &.is-inverted {
  }

  &.is-loading {
    pointer-events: none;
  }

  &.is-hovered,
  &:hover {
    &.is-default,
    &.is-dashed {
      border: var(--octo-border-primary);
      box-shadow: var(--octo-shadow-focus);
      color: var(--octo-primary-500);
    }

    &.is-primary {
      background: var(--octo-primary-600);
    }

    &.is-danger {
      background: var(--octo-secondary-600);
      box-shadow: var(--octo-shadow-danger);
      &.is-inverted {
        color: var(--octo-secondary-500);
        background: var(--octo-inverted-500);
        border: var(--octo-border-danger);
      }
    }
  }

  &.is-focused,
  &:focus {
    outline: none;
    &.is-default,
    &.is-dashed {
      border: 0.5px solid var(--octo-primary-700);
      box-shadow: none;
      color: var(--octo-primary-700);
    }

    &.is-primary {
      background: var(--octo-primary-600);
    }

    &.is-danger {
      background: var(--octo-secondary-600);
      &.is-inverted {
        color: var(--octo-secondary-600);
        border: 0.5px solid var(--octo-secondary-600);
        background: var(--octo-inverted-500);
      }
    }
  }

  &.is-active,
  &:active {
    &.is-default,
    &.is-dashed {
      background: var(--octo-primary-200);
      border: var(--octo-border-primary);
      box-shadow: none;
      color: var(--octo-primary-500);
    }
    &.is-primary {
      background: var(--octo-primary-700);
    }

    &.is-danger {
      background: var(--octo-secondary-700);
      &.is-inverted {
        color: var(--octo-inverted-500);
        background: var(--octo-secondary-500);
        border: 0.5px solid var(--octo-secondary-700);
      }
    }
  }

  &:disabled {
    background: var(--octo-muted-200) !important;
    border: none !important;
    box-shadow: none !important;
    color: var(--octo-muted-500) !important;
    cursor: not-allowed;

    .octo-loader__bar {
      background: var(--octo-muted-500) !important;
    }


    &:hover,
    &:focus,
    &:active {
      background: var(--octo-muted-200);
      border: none;
      box-shadow: none;
      color: var(--octo-muted-500);
    }
  }
}

.octo-loader {
  display: flex;
  justify-content: center;
}

.octo-loader__bars {
  $width: 8px;
  $offset: 4px;
  position: relative;
  width: 40px;
  height: 18px;

  .octo-loader__bar {
    display: inline-block;
    position: absolute;
    left: $offset;
    width: $width;

    animation: octo-loader__bars-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .octo-loader__bar:nth-child(1) {
    left: $offset;
    animation-delay: -0.24s;
  }

  .octo-loader__bar:nth-child(2) {
    left: 16px;
    animation-delay: -0.12s;
  }

  .octo-loader__bar:nth-child(3) {
    left: 28px;
    animation-delay: 0;
  }
}

@keyframes octo-loader__bars-animation {
  0% {
    top: 2px;
    height: 14px;
  }
  50%,
  100% {
    top: 5px;
    height: 8px;
  }
}
