.octo-calendar {
  border-radius: var(--octo-radius-default);
  background-color: var(--octo-inverted-500);
  padding: 22px 20px;
  width: 390px;
  box-shadow: var(--octo-shadow-idle);
  z-index: 10;

  .arrow {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--octo-inverted-500);
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-color: var(--octo-inverted-500);
    border-radius: var(--octo-radius-full);

    .arrow-icon {
      width: 10px;
      height: 10px;
    }

    &:hover,
    &:focus {
      box-shadow: var(--octo-shadow-focus-200);
      border-color: var(--octo-primary-500);
      color: var(--octo-text-default);
      outline: none;
    }

    &:active {
      background: var(--octo-primary-200);
    }

    &:disabled {
      box-shadow: none;
      border-color: transparent;
      cursor: not-allowed;
      color: var(--octo-muted-500);
      background: var(--octo-inverted-500);
    }
  }

  .header {
    margin-bottom: 1.25rem;
  }

  .header__year-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .header__year-label {
    min-width: 2.5rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .header__month-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header__open-months-btn {
    &:focus {
      outline: none;
    }
  }

  .header__month-label {
    min-width: 5.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }

  .month__label {
    text-align: center;
  }

  .bg-white {
    background-color: var(--octo-inverted-500);
  }

  .weekdays {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -0.5rem;
    margin-bottom: 1rem;

    .weekday {
      width: calc(100% / 7);
      padding: 0.5rem;
      text-align: center;
    }
  }

  .months__dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--octo-inverted-500);
    box-shadow: var(--octo-shadow-idle);
    border-radius: var(--octo-radius-default);
    width: 200px;
    padding: 1rem;
  }

  .months__dropdown-container {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
  }
  .months__dropdown-month {
    padding: 0.5rem;
    width: 33.333333%;
    border-radius: var(--octo-radius-large);
    padding: 7px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: var(--octo-muted-300);
    }

    &:focus {
      outline: none;
    }

    &.--active {
      color: var(--octo-primary-500);
      background-color: var(--octo-muted-300);
    }

    &:disabled {
      color: var(--octo-muted-500);
      background-color: var(--octo-inverted-500);
      cursor: not-allowed;
    }
  }

  .week {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -0.5rem;

    .day {
      width: calc(100% / 7);
      padding: 0.5rem;
      width: 33.333333%;
      &.is-disabled {
        color: var(--octo-text-muted);
      }

      .day-button {
        width: 2.375rem;
        height: 2.375rem;
        display: flex;
        align-items: center;
        border-width: 1px;
        border-color: var(--octo-muted-200);
        border-radius: var(--octo-radius-full);
        &:hover,
        &:focus {
          background: var(--octo-muted-200);
        }

        &:focus {
          outline: none;
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
      &.is-today {
        .day-button {
          border-color: var(--octo-primary-500);
        }
      }

      &.is-selected {
        .day-button {
          border-color: var(--octo-primary-500);
          background: var(--octo-primary-500);
          color: var(--octo-text-inverted);
        }
      }

      .day-text {
        text-align: center;
        width: 100%;
      }
    }
  }
}
