.octo-card {
  position: relative;
  border-width: 1px;
  overflow: hidden;
  border-color: transparent;
  background-color: var(--octo-inverted-500);
  border-radius: var(--octo-radius-default);
  box-shadow: var(--octo-shadow-black);
  display: flex;
  flex-direction: column;

  button,
  * button {
    &:focus {
      outline: none;
    }
  }

  .octo-card__media {
    flex-shrink: 0;
    position: relative;
    max-height: 100%;
  }

  .octo-card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    justify-content: space-between;
  }

  .octo-card__title {
    padding-right: 1.5rem;
  }

  &.is-default {
    border-style: solid;
    border-color: transparent;
  }

  &.is-dashed {
    border-color: var(--octo-muted-500);
    border-style: dashed;
  }

  *.has-accent {
    color: var(--octo-text-default);

    &.is-muted,
    *.is-muted,
    &.is-muted-primary,
    *.is-muted-primary {
      color: var(--octo-text-muted);
    }

    *.is-faded {
      opacity: 0.2;
    }
  }

  .octo-card__underlay-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    &.is-media {
      z-index: 1;
    }
  }

  .__content {
    flex: 1;
  }

  .__footer {
    flex-shrink: 0;
    width: fit-content;
    margin-top: 1rem;
    z-index: 1;
  }

  .octo-card__settings {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
  }

  .octo-card__action {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1rem 1rem;
    cursor: pointer;
    z-index: 2;

    &:focus {
      outline: none;
    }

    .octo-card__action-label {
      .is-underline {
        text-decoration: underline;
      }
      .octo-card__action-icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  &:hover {
    border-color: var(--octo-primary-500);
    box-shadow: var(--octo-shadow-focus);

    *.has-accent {
      color: var(--octo-primary-500);

      &.is-muted,
      *.is-muted {
        color: var(--octo-text-default);
      }

      *.is-faded {
        opacity: 1;
      }

      &.is-hoverable:hover,
      &.is-hoverable:focus,
      *.is-hoverable:hover,
      *.is-hoverable:focus {
        color: var(--octo-primary-500);
      }
    }
  }

  &:focus,
  &:focus-within {
    border-color: var(--octo-primary-500);
  }
}
