.octo-card {
  padding: 1rem;
  position: relative;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--octo-inverted-500);
  border-radius: var(--octo-radius-default);
  box-shadow: var(--octo-shadow-black);

  button,
  * > button {
    &:focus {
      outline: none;
    }
  }

  &.is-default {
    border-style: solid;
    border-color: transparent;
  }

  &.is-dashed {
    border-color: var(--octo-muted-500);
    border-style: dashed;
  }

  .octo-card__accent,
  > .octo-card__accent {
    &.is-muted {
      color: var(--octo-text-muted);
    }
  }

  .octo-card__accent-muted,
  > .octo-card__accent-muted {
    color: var(--octo-text-muted);
  }

  .octo-card__underlay-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .octo-card__settings-container {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
  }

  .octo-card__action {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1rem 1rem 0;
    cursor: pointer;
    pointer-events: none;

    .octo-card__action-label {
      .is-underline {
        text-decoration: underline;
      }
      .octo-card__action-icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  &:hover {
    border-color: var(--octo-primary-500);
    box-shadow: var(--octo-shadow-focus);

    .octo-card__accent,
    > .octo-card__accent {
      color: var(--octo-primary-500);
    }

    .octo-card__accent-muted,
    > .octo-card__accent-muted {
      color: var(--octo-text-default);
    }
  }
  
  &:focus,
  &:focus-within {
    border-color: var(--octo-primary-500);
  }
}

.octo-card__settings {
  &:hover,
  &:focus {
    color: var(--octo-primary-500);
  }
}
