.octo-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  .octo-checkbox__input {
    position: absolute;
    opacity: 0;
  }

  .octo-checkbox__mark {
    border-radius: 8px;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    color: var(--octo-text-muted);
    margin-right: 0.5rem;
    &.is-danger {
      border: 1px solid var(--octo-secondary-500);
      color: var(--octo-text-muted);
      background: var(--octo-inverted-500);
    }
  }

  .octo-checkbox__input:checked + .octo-checkbox__mark {
    border: 1px solid var(--octo-primary-500);
    color: var(--octo-text-inverted);
    background: var(--octo-primary-500);
    box-shadow: var(--octo-shadow-idle);
    &.is-danger {
      border: 1px solid var(--octo-secondary-500);
      color: var(--octo-text-inverted);
      background: var(--octo-secondary-500);
      box-shadow: none;
    }
  }

  &:hover,
  &:focus-within {
    .octo-checkbox__mark {
      border: 1px solid var(--octo-primary-500);
      background: var(--octo-inverted-500);
      color: var(--octo-primary-500);
      box-shadow: var(--octo-shadow-focus);
      &.is-danger {
        border: 1px solid var(--octo-secondary-500);
        color: var(--octo-text-default);
        background: var(--octo-inverted-500);
        box-shadow: var(--octo-shadow-danger);
      }
    }

    .octo-checkbox__input:checked + .octo-checkbox__mark {
      background: var(--octo-primary-600);
      box-shadow: var(--octo-shadow-focus);
      &.is-danger {
        border: 1px solid var(--octo-secondary-500);
        color: var(--octo-text-inverted);
        background: var(--octo-secondary-600);
        box-shadow: var(--octo-shadow-danger);
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    .octo-checkbox__mark {
      border: 1px solid var(--octo-muted-500);
      color: var(--octo-text-muted);
      background: var(--octo-inverted-500);
      box-shadow: none;
    }
  }
}
