.octo-dropdown {
  position: relative;
  .octo-dropdown__trigger {
    display: inline-block;
  }
  .octo-dropdown__menu {
    position: absolute;
    z-index: 10;
    border-radius: var(--octo-radius-default);
    padding: 1.25rem;

    &.is-default {
      background-color: var(--octo-muted-100);
    }

    &.is-primary {
      background-color: var(--octo-primary-500);
    }

    li + li {
      margin-top: 0.6rem;
    }
  }
}

.octo-fade-out-quick-enter-active,
.octo-fade-out-quick-leave-active {
  transition: opacity 0.2s;
}

.octo-fade-out-quick-enter,
.octo-fade-out-quick-leave-active {
  opacity: 0;
}
