.octo-field {
  .octo-field__label {
    display: flex;
    align-items: center;
    color: var(--octo-text-default);
    width: 100%;
    margin-bottom: 0.5rem;

    &.has-value {
      .octo_field__icon {
        color: var(--octo-text-default);
      }
      .octo-field__number {
        background: black;
      }
    }

    .octo_field__icon {
      color: var(--octo-muted-500);
    }
  }

  .octo-label__maxlength {
    margin-left: auto;
  }

  .octo-field__help {
    margin-top: 0.75rem;
  }

  .octo_field__icon {
    width: 28px;
    height: 28px;
    margin-right: 7px;
  }

  .octo_field__switch {
    margin-left: 7px;
  }

  .octo-field__number {
    width: 28px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    background: var(--octo-muted-500);
    color: var(--octo-inverted-500);
  }

  &.is-danger {
    .octo-field__label {
      color: var(--octo-secondary-500);

      .octo_field__icon {
        color: var(--octo-secondary-500);
      }
      .octo-field__number {
        background: var(--octo-secondary-500);
      }
    }
  }

  &.is-focused,
  &:focus,
  &:focus-within {
    .octo-field__label {
      color: var(--octo-primary-500);
      .octo_field__icon {
        color: var(--octo-primary-500);
      }
      .octo-field__number {
        background: var(--octo-primary-500);
      }
    }
    
    &.is-danger {
      .octo-field__label {
        color: var(--octo-secondary-500);
        .octo_field__icon {
          color: var(--octo-secondary-500);
        }
        .octo-field__number {
          background: var(--octo-secondary-500);
        }
      }
    }
  }
}
