.octo-icon {
  fill: currentColor;
  display: inline-block;

  &.is-sm,
  &.is-small {
    width: 16px;
    height: 16px;
  }

  &.is-md,
  &.is-medium {
    width: 18px;
    height: 18px;
  }

  &.is-lg,
  &.is-large {
    width: 20px;
    height: 20px;
  }

  &.is-xl {
    width: 40px;
    height: 40px;
  }

  &.is-default {
    color: var(--octo-text-default);
  }

  &.is-primary {
    color: var(--octo-primary-500);
  }

  &.is-danger {
    color: var(--octo-secondary-500);
  }
}
