.octo-control {
  position: relative;

  .octo-input__icon-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .octo-input__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .octo-input {
    box-sizing: border-box;
    background: white;
    border: 0.5px solid transparent;
    box-shadow: var(--octo-shadow-idle);
    border-radius: var(--octo-radius-default);
    font-family: var(--octo-text-font);
    padding: 8px 14px;
    font-size: 18px;
    line-height: 21px;
    width: 100%;

    &.has-icon {
      padding-right: 3rem;
    }

    &::placeholder {
      color: var(--octo-muted-600);
    }

    &.is-danger {
      border: 0.5px solid transparent;
      box-shadow: 0px 0px 10px var(--octo-secondary-100);
    }

    &.is-hovered,
    &:hover {
      border: var(--octo-border-primary);
      box-shadow: var(--octo-shadow-focus);
      &.is-danger {
        border: var(--octo-border-danger);
        box-shadow: var(--octo-shadow-danger);
      }
    }

    &.is-focused,
    &:focus,
    &:focus-within {
      outline: none;
      border: var(--octo-border-primary);
      box-shadow: none;
      &.is-danger {
        border: var(--octo-border-danger);
        box-shadow: none;
      }
    }
  }
}
