.octo-menu {
  background-color: var(--octo-inverted-500);
  border-radius: var(--octo-radius-large);
  box-shadow: var(--octo-shadow-idle);
  padding: 1.5rem 1.25rem;
  width: 257px;
}

.octo-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--octo-radius-default);

  &:hover {
    background-color: var(--octo-muted-100);
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    color: var(--octo-text-inverted);
    background-color: var(--octo-primary-500);
  }

  .octo-menu-item__icon {
    margin-right: 0.5rem;
    width: 18px;
    height: 18px;
  }

  + .octo-menu-item {
    margin-top: 0.5rem;
  }
}

.octo-menu-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.is-default {
    color: var(--octo-text-default);
  }

  &.is-primary {
    color: var(--octo-text-primary);
  }

  &.is-danger {
    color: var(--octo-text-danger);
  }

  &.is-muted {
    color: var(--octo-text-muted);
  }
  
  &.is-inverted {
    color: var(--octo-text-inverted);
  }

  .octo-menu-header__icon {
    max-width: 140px;
    height: 48px;
    .octo-icon {
      width: 100%;
      height: 100%;
    }
  }

  .octo-menu-header__label {
    margin-top: 7px;
  }
}

.octo-menu-user {
  background-color: var(--octo-inverted-500);
  border-radius: var(--octo-radius-large);
  box-shadow: var(--octo-shadow-idle);
  width: 257px;

  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--octo-text-default);

  .octo-menu-user__avatar {
    margin-bottom: 1rem;
  }

  .octo-menu-user__username {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .octo-menu-user__description {
    width: 100%;
    text-align: center;
  }
}
