.octo-modal__stop-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.octo-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;

  .is-clickable {
    cursor: pointer;
  }
}

.octo-modal__inner {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

.octo-modal__spacer {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}

.octo-modal__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.octo-modal-box__container {
  cursor: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.octo-modal-transition-enter {
  opacity: 0;
  will-change: opacity;
  .octo-modal__inner {
    will-change: transform;
  }
}

.octo-modal-transition-enter-active {
  transition: opacity 0.4s; // trick
  .octo-modal__inner {
    animation: octo-modal-transition-up 0.4s;
  }
}

.octo-modal-transition-leave-active {
  transition: opacity 0.4s; // trick
  .octo-modal__inner {
    animation: octo-modal-transition-down 0.4s;
  }
}

.octo-modal-transition-leave-to {
  opacity: 0;
  will-change: auto;
  .octo-modal__inner {
    will-change: auto;
  }
}

@keyframes octo-modal-transition-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes octo-modal-transition-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100px);
  }
}
