.octo-radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  .octo-radio__input {
    position: absolute;
    opacity: 0;
  }

  .octo-radio__mark {
    height: 26px;
    width: 26px;
    position: relative;
    margin-right: 0.5rem;
    background-color: transparent;
    border-radius: 50%;
    background: var(--octo-inverted-500);
    border: 2px solid var(--octo-muted-500);

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 5px;
      left: 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--octo-primary-500);
    }

    &.is-danger {
      border: 2px solid var(--octo-secondary-500);
    }
  }

  .octo-radio__input:checked + .octo-radio__mark {
    border: 2px solid var(--octo-primary-500);
    box-shadow: var(--octo-shadow-idle);

    &:after {
      display: block;
      background: var(--octo-primary-500);
    }

    &.is-danger {
      border: 2px solid var(--octo-secondary-500);
      box-shadow: none;
      &:after {
        display: block;
        background: var(--octo-secondary-500);
      }
    }
  }

  &:hover {
    .octo-radio__mark {
      &:after {
        display: block;
        background: var(--octo-muted-500);
      }
      &.is-danger {
        border: 2px solid var(--octo-secondary-500);
        color: var(--octo-text-default);
        background: var(--octo-inverted-500);
        box-shadow: var(--octo-shadow-danger);
        &:after {
          display: block;
          background: var(--octo-muted-500);
        }
      }
    }

    .octo-radio__input:checked + .octo-radio__mark {
      box-shadow: var(--octo-shadow-focus);
      &.is-danger {
        border: 2px solid var(--octo-secondary-500);
        box-shadow: var(--octo-shadow-danger);

        &:after {
          display: block;
          background: var(--octo-secondary-500);
        }
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    .octo-radio__mark {
      background: var(--octo-inverted-500);
      border: 2px solid var(--octo-muted-500) !important;
      background: var(--octo-inverted-500);
      box-shadow: none !important;
      &:after {
        display: none !important;
      }
    }
  }
}
