.octo-search-select {
  position: relative;

  .octo-search-select__input {
    appearance: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background: white;
    border: 0.5px solid transparent;
    box-shadow: var(--octo-shadow-idle);
    border-radius: var(--octo-radius-default);
    font-family: var(--octo-text-font);
    padding: 8px 14px;
    font-size: 18px;
    line-height: 21px;
    color: var(--octo-text-default);
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: 0;
      border: var(--octo-border-primary);
      box-shadow: var(--octo-shadow-focus);
    }
  }

  &.is-active {
    .octo-search-select__input {
      border: var(--octo-border-primary);
      box-shadow: var(--octo-shadow-focus);
    }
  }

  .octo-search-select__placeholder {
    color: #8795a1;
  }
  .octo-search-select__dropdown {
    position: absolute;
    right: 0 !important;
    left: 0 !important;
    background-color: white;
    border: var(--octo-border-black);
    padding: 0.5rem;
    border-radius: var(--octo-radius-default);
    box-shadow: var(--octo-shadow-black);
    z-index: 50;
  }
  .octo-search-select__search {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: white;
    color: black;
    border-radius: var(--octo-radius-default);
    box-shadow: var(--octo-shadow-black);

    margin-bottom: 0.5rem;
    &:focus {
      border: var(--octo-border-primary);
      outline: none;
    }
  }
  .octo-search-select__options {
    list-style: none;
    padding: 0;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    /* Hide scrollbar */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;

    max-height: 14rem;
  }
  .octo-search-select__option {
    padding: 0.5rem 0.75rem;
    color: var(--octo-text-default);
    cursor: pointer;
    border-radius: var(--octo-radius-default);
    user-select: none;
    &:hover {
      background-color: var(--octo-muted-300);
    }
    &.is-active,
    &.is-active:hover {
      background-color: var(--octo-primary-500);
      color: var(--octo-text-inverted);
    }
  }

  .octo-search-select__empty {
    padding: 0.5rem 0.75rem;
    color: var(--octo-text-default);
  }
}
