.octo-tabs {
  border-radius: var(--octo-radius-default);
  box-shadow: var(--octo-shadow-black);
  background: white;

  &:hover {
    box-shadow: var(--octo-shadow-focus);
  }

  .octo-tabs__list {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .octo-tabs__item {
    display: block;
    width: 100%;
  }

  .octo-tabs__tab {
    text-rendering: optimizeLegibility;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1.25rem;
    width: 100%;
    border-radius: var(--octo-radius-default);


    &:focus {
      outline: none;
    }

    &:hover {
      color: var(--octo-primary-500);
    }

    &.is-active {
      background: var(--octo-primary-500);
      color: var(--octo-text-inverted);
    }
  }
}
