.octo-title {
  font-family: var(--octo-title-font);
  font-weight: 800;

  &.is-1 {
    font-size: 2.5rem;
  }

  &.is-2 {
    font-size: 1.875rem;
  }

  &.is-3 {
    font-size: 1.25rem;
  }

  &.is-4 {
    font-size: 1.125rem;
  }

  &.is-5 {
    font-size: 0.875rem;
  }

  &.is-default {
    color: var(--octo-text-default);
  }

  &.is-muted {
    color: var(--octo-text-muted);
  }

  &.is-primary {
    color: var(--octo-text-primary);
  }

  &.is-danger {
    color: var(--octo-text-danger);
  }

  &.is-inverted {
    color: var(--octo-text-inverted);
  }

  &.is-inherit {
    color: inherit;
  }
}

.octo-text {
  font-family: var(--octo-text-font);
  font-weight: normal;
  font-size: 1.125rem;

  &.is-default {
    color: var(--octo-text-default);
  }

  &.is-muted {
    color: var(--octo-text-muted);
  }

  &.is-primary {
    color: var(--octo-text-primary);
  }

  &.is-danger {
    color: var(--octo-text-danger);
  }

  &.is-inverted {
    color: var(--octo-text-inverted);
  }

  &.is-inherit {
    color: inherit;
  }

  // Sizes

  &.is-semi {
    font-weight: 500;
  }

  &.is-xs {
    font-size: 0.75rem;
  }

  &.is-sm {
    font-size: 1rem;
  }
}
