:root {
  // Colors
  --primary: #1844e0;
  --inverted: #fff;

  --secondary: #fe4587;

  --muted-100: #f4f4f4;
  --muted-200: #ececec;
  --muted-300: #f1f1f1;
  --muted-500: #c6c6c6;
  --muted-600: #949494;
  --muted-700: #7a7a7a;

  --text-default: #000;
  --text-muted: #c6c6c6;
  --text-primary: #1844e0;
  --text-error: #fa356d;
  --text-inverted: #fff;

  // Shadows
  --shadow-focus: 0px 0px 10px rgba(24, 68, 224, 0.4);
  --shadow-default: 0px 0px 10px rgba(120, 120, 120, 0.4);
  --shadow-modal: 0px 0px 20px rgba(0, 0, 0, 0.25);
  --shadow-sidebar: 0px 0px 10px rgba(0, 0, 0, 0.25);
  --shadow-card: 0px 0px 10px rgba(0, 0, 0, 0.05);

  // Checkbox
  --shadow-check-empty: 0px 0px 4px rgba(0, 0, 0, 0.25);
  --shadow-check-hover: 0px 0px 10px rgba(64, 46, 245, 0.4);
  --shadow-check-idle: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --shadow-check-error-hover: 0px 0px 10px rgba(250, 53, 109, 0.4);

  // border-radius
  --b-default: 10px;
  --b-large: 20px;

  // Buttons
  --btn-positive: var(--primary);
  --btn-on-positive: white;
  --btn-positive-hover: #2757ff;
  --btn-positive-active: #0f33b3;
  --btn-shadow-positive: 0px 0px 10px rgba(0, 0, 0, 0.4);

  --btn-secondary: white;
  --btn-on-secondary: black;
  --btn-secondary-hover: var(--primary);
  --btn-secondary-active: #ced6f0;
  --btn-shadow-secondary: 0px 0px 10px rgba(24, 68, 224, 0.4);

  --btn-negative: var(--secondary);
  --btn-on-negative: white;
  --btn-negative-hover: #ff324b;
  --btn-negative-active: #cd0019;
  --btn-shadow-negative: 0px 0px 10px rgba(255, 50, 75, 0.4);
}
