:root {
  /* fontFamily */
  --octo-title-font: 'Martel', serif;
  --octo-text-font: "Roboto", sans-serif;

  /* textColor */
  --octo-text-default: #000;
  --octo-text-muted: #c6c6c6;
  --octo-text-primary: #1844e0;
  --octo-text-danger: #fe4587;
  --octo-text-inverted: #fff;
  
  /* colors */
  --octo-inverted: #fff;
  --octo-mark: #FBBC05;
  
  --octo-primary-100: rgba(24, 68, 226, 0.4);
  --octo-primary-200: #ced6f0;
  --octo-primary-500: #1844e0;
  --octo-primary-600: #2757ff;
  --octo-primary-700: #0f33b3;
  

  --octo-secondary-100: rgba(254, 69, 135, 0.1);
  --octo-secondary-200: rgba(254, 69, 135, 0.4);
  --octo-secondary-500: #fe4587;
  --octo-secondary-600: #ff324b;
  --octo-secondary-700: #cd0019;

  --octo-muted-100: #f4f4f4;
  --octo-muted-200: #ececec;
  --octo-muted-300: #f1f1f1;
  --octo-muted-400: #FBFBFB;
  --octo-muted-500: #c6c6c6;
  --octo-muted-600: #949494;
  --octo-muted-700: #7a7a7a;
  --octo-muted-800: #78787866;

  /* boxShadow */
  --octo-shadow-black: 0px 0px 10px rgba(0, 0, 0, 0.05);
  --octo-shadow-idle: 0px 0px 10px rgba(120, 120, 120, 0.4);
  --octo-shadow-focus: 0px 0px 10px var(--octo-primary-100);
  --octo-shadow-focus-200: 0px 0px 10px var(--octo-primary-200);
  --octo-shadow-danger: 0px 0px 10px var(--octo-secondary-200);
  --octo-shadow-modal: 0px 0px 20px rgba(0, 0, 0, 0.25);

  /* borderRadius */
  --octo-radius-default: 10px;
  --octo-radius-large: 20px;
}
